/*body*/ 
*{
    margin:0;
    padding:0;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:Abel,arial;
    color:white;
    line-height:1.6;
    background-color:rgb(45, 49, 51);
}
/*body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}*/
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    font-family:Abel,arial;
    font-size:12px;
    font-weight: 500;
    text-shadow: 1px 1px 7px #000000;
    z-index: 0;
    
    
    
}

/*div1*/
.wrapper-1{  
    display:flex;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: url(../images/IMG_5767.png);
    transition:1.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


}

.wrapper-1-dark{
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: url(../images/IMG_5767.png);
    filter: blur(3px) brightness(72%);
    -webkit-filter: blur(3px) brightness(72%);
    -moz-filter: blur(3px) brightness(72%);
    -o-filter: blur(3px) brightness(72%);
    -ms-filter: blur(3px) brightness(72%);
    transition:1.5s ease;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
    .container{
        width: 100%;
        height: 100%;
    }

    /* header bar*/
    .header-bar{
        display:flex;
        align-items: center;
        justify-content: space-between;
        color:white;
        position:fixed;
        width: 100%;
        height:7em;
        backdrop-filter: blur(8px);
        z-index: 100;
        transition: 0.2s ease;
    }
        /*left section*/
        .header-left{
            display:flex;
            column-gap: 3vw;
            justify-content: flex-start;
            width:26vw;
            padding-right:3vw;
            padding-left:3vw;
        }
        .header-left, div{
            align-items: center;
        }
        
        .hamburger-menu-div,
        .gallery-image-div,
        .phone-image-div{
            display:flex;
            justify-content:center;
            align-items: center;
            padding:0;
        }

        .hamburgerimg,
        .white-x-mark-icon{
            transition: all 0.5s;
            margin-top:2px;
            width: 23px;
        }
        .contact a,
        .gallery a{
            color:white;
            text-decoration: none;
        }

        .contact-div,
        .gallery-div,
        .hamburger-menu-div{
            display:flex;
            cursor: pointer;
        }
        .contact-div:hover .phoneimg,
        .gallery-div:hover .galleryimg
        {
            transform: rotate(360deg);
        }
        
        .phoneimg,
        .galleryimg{
            transition: all 0.5s;
            width:16px;
            margin-right:3px;
            margin-top:4px;
        }
        /*middle section*/
        .header-middle a{
            transition: all 0.2s;
            color:white;
            text-decoration:none;
            font-size: 25px;
            text-align: center;
            font-family: Abel;
        }
        .youth-hostel{
            transition: all 0.2s;
            font-size: 16px;
        }
        /*right section*/
        .header-right{
            display:flex;
            justify-content: flex-end;
            width:26vw;
            padding-right:3vw;
            padding-left:3vw;
        }
        .book-now-btn{
            font-size: 12px;
            border:none;
            color:white;
            background-color:rgba(0, 0, 0, 0.603);
            padding:10px 18px;
            backdrop-filter: blur(5px);
            cursor: pointer;
            transition: all 0.2s;
        }
        .book-now-btn:hover{
            background-color:rgba(0, 0, 0, 0.808);
        }
        .book-now-btn:active{
            background-color:rgba(0, 0, 0, 0.274);
        }
        /*nav ul*/
        .nav-ul{
            padding:5px;
            margin-left: 2vw;
            display:flex;
            flex-direction: column;
            row-gap: 0.5em;
            align-items: flex-start;
            color:white;
            z-index: 0;
            position:absolute;
            top:85px;
            left:0;
            font-size: 2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;


        }
        .nav-ul div{
            pointer-events: none;
            vertical-align: middle;
            line-height: 1em;
            height:0;
            opacity:0;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }

        .nav-ul div a{
            pointer-events: none;
            color:white;
            text-decoration: none;
        }
        .nav-ul-active{
            padding:5px;
            margin-left: 2vw;
            display:flex;
            flex-direction: column;
            row-gap: 0.5em;
            align-items: flex-start;
            color:white;
            z-index: 1000;
            position:absolute;
            top:85px;
            left:0;
            font-size: 2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .nav-ul-active div{
            vertical-align: middle;
            line-height: 1em;
            transition: all 0.5s;
            height:1em;
            cursor: pointer;
        }
        .nav-ul-active div a{
            color:white;
            text-decoration: none;
        }



        /*main content*/

        /*covid info*/
        .covid-info{
            overflow-y: auto;
            pointer-events: auto;
            word-wrap: break-word;
            overflow-wrap: break-word;
            position: relative;
            line-height: 4vh;
            font-size:1.6em;
            padding:2em;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            z-index: 100;
            position: fixed;
            background-color:rgba(0, 0, 0, 0.829);
            backdrop-filter: blur(3px);
            top:15%;
            bottom:10%;
            right:10%;
            left:10%;
            opacity:0;
            pointer-events: none;
            transition: all 0.5s;
        }
        .covid-info::-webkit-scrollbar{
            width: 0px;
            height: 0px;
        }
        .covid-info a{
            margin-left: auto; 
            margin-right: 0;
        }
        .covid-info span {
            margin-right: auto; 
            margin-left: 0;
            text-align: right;
            font-weight:bold;
        }

        .covid-close{
            opacity: 0;
            cursor:pointer;
            border:none;
            background-color: transparent;
            z-index: 101;
            padding:8px;
            position:fixed;
            top:15%;
            right:10%;
            transition:0.2s;
        }
        .covid-close:hover{
            opacity: 0.6;
        }
        .covid-close:active{
            opacity: 0.30;
        }

        .covid-close img{
            width:1.6em;
        }
        /*covid info end*/
        .main-content-flexbox{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            color:rgb(255, 255, 255);
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;  
                  
        }
        .main-content{
            font-size:35px;
            max-width:40%;
            max-height: 100%;
            align-items: center;  
            justify-content:center;
            text-align:center; 
        }
        .read-details-btn{
            font-size: 12px;
            border:none;
            color:white;
            background-color:rgba(0, 0, 0, 0.575);
            backdrop-filter: blur(2px);
            padding:10px 18px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.2s;
        }
        .read-details-btn:hover{
            background-color:rgba(0, 0, 0, 0.692);
        }
        .read-details-btn:active{
            background-color:rgba(0, 0, 0, 0.507);
        }


        .about-us{
            color:white;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size: 30px;
            position: fixed;
            bottom:0;
            left:0;
            right:0;
        }

        .downarrow{
            z-index: 2;
            position: absolute;
            font-size:60px;
            bottom: 0;
            cursor: pointer;
        }
        
        .downarrowimg{
            width: 0.7em;
            animation: bounce 3s infinite;
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-30px);
            }
            60% {
              transform: translateY(-15px);
            }
          }



section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    
}

section#home{
    
}
section#location{

}

/*about us section*/
section#contact,
section#activities,
section#rooms,
section#home,
section#aboutus,
section#location,
section#gallery,
section#contact{
    position: relative;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100vh;
}
section#location h1,
section#aboutus h1{
    font-size: 2em;
}
section#location p,
section#aboutus p{
    font-size: 1.4em;
}
.contact-panel::-webkit-scrollbar,
.rooms-panel::-webkit-scrollbar,
.room-details-container::-webkit-scrollbar,
.about-us-panel::-webkit-scrollbar,
.about-us-panel-pictures::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
.about-us-panel,
.about-us-panel-pictures{
    overflow:auto;

    padding:1.2em;
    width: 35%;
    height: 45%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.about-us-panel{
    width: 18%;
}

.about-us-panel-pictures img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;      
}


/*rooms*/



.rooms-panel{
    
    display:flex;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    overflow:auto;
    position: relative;

    padding:1.2em;
    width: 45%;
    height: 55%;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.room-details-container{
    position: relative;
    overflow:hidden;
    justify-content:center;
    align-items: center;
    overflow:auto;

    width: 95%;
    height: 78%;
    background: rgba(182, 17, 17, 0.1);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.slides{
    display:flex;
    width:800%;;
    height:100%
}
.slide{
    background: rgba(182, 17, 17, 0.1);
    height:100%;
    width:12.5%;
    transition:1s;
}

.slide img{
    object-fit: cover;
    width: 100%;
    height:100%;
}

.slides input{
    position:absolute;
    visibility:hidden;  

}
.navigation-manual{
    position:absolute;
    bottom:5%;
    left:50%;
    transform:translateX(-50%);
    display:flex;
    transition:0.5s;
}

.manual-btn{
    width:1.5vw;
    height:1.2vh;
    border:1px solid black;
    background-color:rgba(0, 0, 0, 0.568);
    border-radius: 10px;
    margin:5px;
    cursor:pointer;
    transition:0.2s;
}

.manual-btn:hover{
    -webkit-box-shadow: 2px 2px 10px 1px #0000008e; 
    box-shadow: 2px 2px 10px 1px #0000007e;
}

.manual-btn:active{
    background-color:rgb(0, 0, 0);
}

#radio1:checked ~ .s1{
    margin-left:0;
}
#radio2:checked ~ .s1{
    margin-left:-12.5%;
}
#radio3:checked ~ .s1{
    margin-left:-25%;
}
#radio4:checked ~ .s1{
    margin-left:-37.5%;
}
#radio5:checked ~ .s1{
    margin-left:-50%;
}
#radio6:checked ~ .s1{
    margin-left:-62.5%;
}
#radio7:checked ~ .s1{
    margin-left:-75%;
}
#radio8:checked ~ .s1{
    margin-left:-87.5%;
}

.rooms-slide-right{
    border-radius: 2px;

    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    border:none;
    z-index: 1;
    position:absolute;
    font-size:8vh;
    height:1em;
    line-height: 7vh;
    top:36%;
    right:5%;
    box-sizing : content-box;
    padding:3vh;
}

.rooms-slide-left{
    border-radius: 2px;
    color:white;
    background-color: rgba(0, 0, 0, 0.555);
    border:none;
    z-index: 1;
    position:absolute;
    font-size:8vh;
    height:1em;
    line-height: 7vh;
    top:36%;
    left:5%;
    box-sizing : content-box;
    padding:3vh;
}

/*contatct page*/

.contact-panel{
    overflow:auto;
    display:flex;
    flex-direction: column;
    font-size:1.3em;
    -webkit-box-shadow: -1px -34px 50px 35px rgba(0, 0, 0, 0.89); 
    box-shadow: -1px -34px 50px 35px rgba(0, 0, 0, 0.9);
    background-color:rgba(0, 0, 0, 0.9);
    margin-top:10vh;
    width:100vw;
    height:90vh;
}
.contact-panel h1{
    padding:0.5em;
}
.contact-panel p{
    padding:2vh;
    overflow-wrap: break-word;
}

.straight-line{
    width:85%;
    border-top:1px solid white;
}
.contact-info{
    width:30%;
}


.contact-stuff-container{
    overflow-wrap: break-word;
    margin-top:3em;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}