/*body*/ 
*{
    margin:0;
    padding:0;
}
body{
    font-family:Abel,arial;
    color:white;
    line-height:1.6;
    background: url(../images/IMG_5767.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}
html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    margin-bottom:3000px;
    font-family:Abel,arial;
    font-size:12px;
    font-weight: 500;
    text-shadow: 1px 1px 7px #000000;
    z-index: 0;
    
    
    
}

/*div1*/

    .container{
        width: 100%;
        height: 100%;
    }

    /* header bar*/
    .header-bar{
        display:flex;
        align-items: center;
        justify-content: space-between;
        color:white;
        position:fixed;
        width: 100%;
        height:8em;
        backdrop-filter: blur(4px);
        z-index: 100;
        transition: top 0.3s;
    }
        /*left section*/
        .header-left{
            display:flex;
            column-gap: 3vw;
            justify-content: flex-start;
            width:26vw;
            padding-right:3vw;
            padding-left:3vw;
        }
        .header-left, div{
            align-items: center;
        }
        
        .hamburger-menu-div,
        .gallery-image-div,
        .phone-image-div{
            display:flex;
            justify-content:center;
            align-items: center;
            padding:0;
        }

        .hamburgerimg,
        .white-x-mark-icon{
            transition: all 0.5s;
            margin-top:2px;
            width: 23px;
        }

        .contact-div,
        .gallery-div,
        .hamburger-menu-div{
            display:flex;
            cursor: pointer;
        }
        .contact-div:hover .phoneimg,
        .gallery-div:hover .galleryimg
        {
            transform: rotate(360deg);
        }
        
        .phoneimg,
        .galleryimg{
            transition: all 0.5s;
            width:16px;
            margin-right:3px;
        }
        /*middle section*/
        .header-middle{
            font-size: 25px;
            text-align: center;
            font-family: Abel;
        }
        .youth-hostel{
            font-size: 16px;
        }
        /*right section*/
        .header-right{
            display:flex;
            justify-content: flex-end;
            width:26vw;
            padding-right:3vw;
            padding-left:3vw;
        }
        .book-now-btn{
            font-size: 12px;
            border:none;
            color:white;
            background-color:rgba(0, 0, 0, 0.603);
            padding:10px 18px;
            backdrop-filter: blur(5px);
            cursor: pointer;

        }
        /*nav ul*/
        .nav-ul{
            padding:5px;
            margin-left: 2vw;
            display:flex;
            flex-direction: column;
            row-gap: 0.5em;
            align-items: flex-start;
            color:white;
            z-index: 0;
            position:absolute;
            top:85px;
            left:0;
            font-size: 2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;


        }
        .nav-ul div{
            pointer-events: none;
            vertical-align: middle;
            line-height: 1em;
            height:0;
            opacity:0;
            cursor: pointer;
            transition: all 0.5s ease-in-out;
        }

        .nav-ul div a{
            pointer-events: none;
            color:white;
            text-decoration: none;
        }
        .nav-ul-active{
            padding:5px;
            margin-left: 2vw;
            display:flex;
            flex-direction: column;
            row-gap: 0.5em;
            align-items: flex-start;
            color:white;
            z-index: 1000;
            position:absolute;
            top:85px;
            left:0;
            font-size: 2em;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .nav-ul-active div{
            vertical-align: middle;
            line-height: 1em;
            transition: all 0.5s;
            height:1em;
            cursor: pointer;
        }
        .nav-ul-active div a{
            color:white;
            text-decoration: none;
        }



        /*main content*/
        .main-content-flexbox{
            display:flex;
            flex-direction: column;
            justify-content:center;
            align-items:center;
            color:rgb(255, 255, 255);
            position: absolute;
            top:0;
            bottom: 0;
            left: 0;
            right: 0;  
                  
        }
        .main-content{
            font-size:35px;
            max-width:40%;
            max-height: 100%;
            align-items: center;  
            justify-content:center;
            text-align:center; 
        }
        .read-details-btn{
            font-size: 12px;
            border:none;
            color:white;
            background-color:rgba(0, 0, 0, 0.575);
            backdrop-filter: blur(2px);
            padding:10px 18px;
            border-radius: 5px;
            cursor: pointer;
        }

        .about-us{
            color:white;
            display:flex;
            justify-content:center;
            align-items:center;
            font-size: 30px;
            position: fixed;
            bottom:0;
            left:0;
            right:0;
        }

        .downarrow{
            z-index: 2;
            position: absolute;
            font-size:60px;
            bottom: 0;
            cursor: pointer;
        }
        
        .downarrowimg{
            width: 0.7em;
            animation: bounce 3s infinite;
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
              transform: translateY(0);
            }
            40% {
              transform: translateY(-30px);
            }
            60% {
              transform: translateY(-15px);
            }
          }
/*.wrapper-2{
    content: "";
        position: relative;
        top:614px;
        pointer-events: none;
        backdrop-filter: brightness(100%);
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-image: url(../images/IMG_5767.png);
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }*/


section{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
    scroll-behavior: smooth;
    
}

section#home{
    
}
section#location{
    
}

/*about us section*/
section#aboutus{
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
    
    width: 100%;
    height: 100vh;
}
section#aboutus h1{
    font-size: 2em;
}
section#aboutus p{
    font-size: 1.4em;
}

.about-us-panel,
.about-us-panel-pictures{
    padding:1.2em;
    width: 35%;
    height: 45%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    overflow: hidden;
}

.about-us-panel{
    width: 18%;
}

.about-us-panel-pictures img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    

    
}